{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top:5%;">
     <div class="panel-body" align="center">
          <p><h3> USER LOGIN PAGE </h3></p>
     </div>
    </div>    


    <div class="container">
     <div class="panel-body" align="center">
        {% if form.errors %}
        <p class="error"> Sorry , not a valid name or password </p>
        {% endif %}
        <div class="cardpanel panel panel-primary" style='width: 300px;'>
        <div class="panel-body">
            <form action='../auth/' method="post">{% csrf_token %}
                <p><input type="text" name="username" id="username" class="form-control" placeholder="username"></p>
                <p><input type="text" name="password" value="" id="password" class="form-control" placeholder="password"></p>
                <input type="submit" class="btn btn-xs btn-primary" value="login"/>    
            </form>
        </div>
        </div>
     </div>
    </div>


    <div class="container" style="margin-top:5%;">
     <div class="panel-body" align="center">
          <a href="../register/" class="btn btn-primary">Sign Up</a>
     </div>
    </div>    
{% endblock %}