{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}
    <div class="container" style="margin-top:5%;">
     <div class="panel-body" align="center">

	<h3> Registration Completed Successfully </h3>
	</div>
	</div>
{% endblock %}
{% block content %}
        <div class="container" style="margin-top:5%;">
     <div class="panel-body" align="center">

    Thank you for registering.
    <a href="../../login">Login</a>
        <div class="container" style="margin-top:5%;">
     <div class="panel-body" align="center">
 
{% endblock %}
